img {
    width: 130px;
 }

.logo--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background: white;

 }

#button {
    width: 100%;
    justify-content: center;
    display: flex;
}

#input--wraper {
    width: 75%;
}

.checkbox--container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;

 }

 .checkbox--container input {
    width: 20px;
    padding-top: 13px;

 }

 .input-container input[type="checkbox"] {
    margin-top: 10px;
 }

 .signup--link {
     display: flex;
     align-items: center;
     color: #black;
 }

 .signup--link a {
     margin-left: 2px;
     color: black;
     text-decoration: underline;
 }

 .logo--container h1 {
     font-size: 1.5em;
     color:black;
 }

 .keepLoginMe{
   color: black;
 }
