.addNewItem{
  border-radius: 50%;
  background-color: black;
  height: 78px;
  width: 78px;
  position: fixed;
  bottom: 15px;
  right: 15px  ;
  border-style: none;


}

.addNewItemIcon{
  color: white;
  font-size: 30px;
}
