img {
    width: 130px;
}

.sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background: white;
}

#button {
    width: 100%;
    justify-content: center;
    display: flex;
}

#input--wraper {
    width: 75%;
}

.logo--continer span {
    position: absolute;
    left: 30px;
    font-size: 1.5em;
    color: black;
}

.sign-in-redirect {
  margin-top: -30px;
  display: flex;
  align-items: center;
  flex-direction: space-around;
}
