img {
    width: 130px;
}

.sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background: #32689A;
}

#button {
    width: 100%;
    justify-content: center;
    display: flex;
}

#input--wraper {
    width: 75%;
}