.usernameInHomePage {
  color: black;
  font-family: arial;
  text-align: center;
  margin-top: 35px;
}

.selectCategorySentence {
  color: black;
  font-family: arial;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 10px;
}

.cetegory1, .cetegory2 {
  border-radius: 13px;
  width: 314px;
  height: 97px;
  background-color: #5daad8;
  text-align: center;
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-top: 20px;
}

.cetegory2 {
  background-color: #F9AA7D;
}

.hierarchyIcon {
  width: 40px;
  height: 50px;
  margin-right: 10px
}

.hierarchyIconDiv {
  margin-left: 20px;
}

.categoryTitle {
  color: white;
  font-family: arial;
  font-size: 20px;
}

.categoriesDiv {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
