.usernameInHomePage{
  color: #A73542;
  font-family: lato;
  text-align: center;
  margin-top: 35px;
}

.selectCategorySentence{
  color: #32689A;
  font-family: lato;
  margin-top: 15px;
text-align: center;
margin-bottom: 10px;
}

.cetegory1, .cetegory2{
  border-radius: 13px;
  width: 314px;
  height: 97px;
  background-color: #32689A;
  text-align: center;
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-top: 20px;
}

.hierarchyIcon{
  width: 40px;
  height: 50px;
  margin-right: 10px
}

.hierarchyIconDiv{
  margin-left: 20px;
}

.categoryTitle{
  color: white;
  font-family: lato;
  font-size: 20px;
}
.categoriesDiv {
  display: flex;
  justify-content: center;
  flex-flow: column;
    align-items: center;
}
