input {
    border: 0;
    padding: 8px 25px;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
    border: gray 1px solid;

}

input[type="submit"] {

        width: 100%;
        padding: 15px;
        color: black;
        font-size: 1em;


}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

.input-container {
    display: flex;
    padding: 2%;
    position: relative;

}

.input-container svg {
    position: absolute;
    font-size: 1.2em;
    bottom: 22px;
    color: black;
    margin-left: 5px;
}
